Source: occi4java
Section: net
Priority: extra
Maintainer: occi4java <sebastian.laag@googlemail.com>
Build-Depends: debhelper

Package: occi4java
Architecture: amd64
Depends: openjdk-6-jre (>=6b18)
Description: occiforjava deb
Version: 0.2.1
