Source: occi4java
Section: net
Priority: extra
Standards-Version: 3.8.4
Maintainer: occi4java <sebastian.laag@googlemail.com>
Build-Depends: debhelper

Package: occi4java
Architecture: all
Depends: openjdk-6-jre (>=6b18), debhelper, build-essential
Description: occi4java deb
