Source: occi4java
Section: net
Priority: extra
Maintainer: unknown <team@sinefa.org>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
#Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/sinefa.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/sinefa.git;a=summary
Package: occi4java
Architecture: amd64
Depends: openjdk-6-jre (>=6b18)
Description: occi4java deb
Version: 1.0
