<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<bean id="computeInterface" class="occi.libvirt.manager.VmManager" />
	<bean id="storageInterface" class="occi.libvirt.manager.StorageManager" />
	<bean id="networkInterface" class="occi.libvirt.manager.NetworkManager" />
	<bean id="xmlInterface" class="occi.libvirt.vm.VirtualMachineMarshaller" />

	<bean id="Injection" class="occi.infrastructure.injection.Injection">
		<property name="computeInterface" ref="computeInterface" />
		<property name="storageInterface" ref="storageInterface" />
		<property name="networkInterface" ref="networkInterface" />
		<property name="xmlInterface" ref="xmlInterface" />
	</bean>
</beans>